
<header>
    <h1>{{site.title}}</h1>
    <p>{{site.description}}</p>
    <nav id="siteNav" aria-expanded="false">
        <button type="button" id="toggleNav" data-active="false" aria-atomic="true">Expand Site Navigation</button>
        <button type="button" id="dummyIndexNav" aria-hidden="false" disabled>Home</button>
        <button type="button" id="whyNav" aria-hidden="true" hidden="true">Why?</button>
        <button type="button" id="sectionNav" aria-hidden="true" hidden="true">Section Headings</button>
        <button type="button" id="dataNav" aria-hidden="true" hidden="true">Data Widgets</button>
        <button type="button" id="tablesNav" aria-hidden="true" hidden="true">Tables</button>
        <button type="button" id="listsNav" aria-hidden="true" hidden="true">Lists</button>
        <button type="button" id="otherNav" aria-hidden="true" hidden="true">Others</button>
        <button type="button" id="formNav" aria-hidden="true" hidden="true">Forms</button>
        <button type="button" id="mediaNav" aria-hidden="true" hidden="true">Media and More</button>
        <button type="button" id="satireNav" aria-hidden="true" hidden="true">Satire Warning</button>
        <button type="button" id="epilogueNav" aria-hidden="true" hidden="true">Epilogue</button>
    </nav>
</header>